name: Sync to GitLab

on:
  push:
    branches: ['**']

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - run: |
          git remote add gitlab ${{ secrets.GITLAB_REPO_URL }}
          git push gitlab --all
          git push gitlab --tags
